.Card {
  background: $primaryCardBackground;
  border-radius: 4px;
  padding: 8px 16px;
  width: 200px;
  color: $white;
  box-shadow: $elevated;

  &__lesson {
    &-link {
      color: white;
    }

    &-icon {
      margin-right: 4px;
    }

    .fa-youtube {
      color: red;
    }

    .fa-github {
      color: black;
    }
  }
}
