.Button {
  color: $black;
  margin: 4px 8px;
  height: 32px;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: $secondaryColor;
  transition: $short-transition background;

  &:hover {
    transition: $short-transition background;
    background-color: $secondaryColorLight;
    cursor: pointer;
  }
}
