$white: #f6f6f6;
$black: #0c0c0c;
$grey: #8f8f8f;

$primaryColor: #7579e7;
$secondaryColor: #9ab3f5;
$ternaryColor: #a3d8f4;
$fourthColor: #b7e5ff;

// Gradient colors

// Dark
$primaryColorDark: #6363c6;
$secondaryColorDark: #8ca5e5;

// Light
$secondaryColorLight: #abc2ff;

