
$black: #0c0c0c;
$primaryColor: #7579e7;
$secondaryColor: #9ab3f5;
$ternaryColor: #a3d8f4;
$fourthColor: #b9fffc;

// Gradient colors

// Dark
$primaryColorDark: #6363c6;
$secondaryColorDark: #8ca5e5;

// Light
$secondaryColorLight: #a4bdff;

