$white: #ffffff;
$black: #0c0c0c;
$grey: #8f8f8f;

$primaryColor: #7579e7;
$secondaryColor: #f5a2b0;
$ternaryColor: #a3d8f4;
$fourthColor: #b7e5ff;

// Gradient colors

// Dark
$primaryColorDark: #6363c6;
$secondaryColorDark: #8ca5e5;

// Light
$primaryColorLight: #8387f5;
$secondaryColorLight: #abc2ff;
$lightGrey: #f6f6f6;

