// Importing Variables
@import "variables";
@import "colors";

// Importing Pages
@import "pages/Login";

// Importing Molecules
@import "molecules/Navbar";


// Importing Atoms
@import "atoms/Button";
@import "atoms/Textfield";


body, #root {
  margin: 0;
}

.App {
  height: 100vh;
  display: grid;
  grid-template-rows: 40px 1fr;

  background-color: $primaryColor;
}
