// Importing fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

// Importing Variables
@import "variables";
@import "colors";

// Importing Pages
@import "pages/Login";
@import "pages/ReactModule";
@import "pages/Register";

// Importing Molecules
@import "molecules/Navbar";


// Importing Atoms
@import "atoms/Button";
@import "atoms/Textfield";
@import "atoms/BackgroundIllustration";


body, #root {
  margin: 0;
}

.App {
  height: 100vh;
  display: grid;
  grid-template-rows: 40px 1fr;
  font-family: $lato;
}
