.Button {
  color: $white;
  margin: 4px 8px;
  height: 32px;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: $primaryColor;
  transition: $short-transition background;

  &:hover {
    transition: $short-transition background;
    background-color: $primaryColorLight;
    cursor: pointer;
  }
}
