.Textfield {
  color: $black;
  flex-direction: column;
  display: flex;
  width: 200px;
  margin-bottom: 8px;

  &__input {
    height: 24px;
    border: none;
    border-bottom: solid 1px $grey;
    outline: none;
    transition: $short-transition border-color;

    &:focus {
      border-color: $secondaryColorLight;
      transition: $short-transition border-color;
    }
  }
}
